.activity-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid; */
    /* color: #3C486B; */
    color: #f0f0f0;
    /* background-color: #F0F0F0; */
    padding: 0.5rem;
    margin: 1rem;
    min-width: 20rem;
    font-size: large;
    font-weight: bold;
    border-radius: 1rem;
    list-style-type: none;
    margin-left: -1rem;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    border-color: rgb(92, 89, 89);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.delete-activity-button {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: #3C486B;

}