.activity-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    border: solid;
    color: 3C486B;
    border-color: rgb(92, 89, 89);
    background-color: #F0F0F0;
    padding: 0.5rem;
    margin: 1rem;
    min-width: 10rem;
    font-size: large;
    font-weight: bold;
    border-radius: 1rem;
}

.delete-activity-button {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;

}