.weather-status-bar {
    margin-top: 2rem;
    font-size: 3rem;
    z-index: 1;
    /* color: var(--color-light); */
}

.weather-message {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 20rem;
    z-index: 1;
    /* color: var(--color-light); */
    white-space: pre-wrap;
}