.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c486b;
  border: solid;
  border-radius: 1rem;
  border-color: hsl(225, 28%, 33%);
  min-height: 99vh;
  background-color: rgb(153, 44, 44);
}